<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll-1"
      aria-controls="navbarScroll-1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bx bx-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll-1">
      <div
        class="d-flex justify-content-center gap-3 flex-wrap align-items-center"
      >
        <a
          href="/user"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic1.png" alt="" />
          خزانة
        </a>
        <a
          href="/user/invest"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic2.png" alt="" />
          إيداع
        </a>
        <a
          href="/user/payment"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic4.png" alt="" />
          المدفوعات
        </a>
        <a
          href="/user/ref"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic6.png" alt="" />
          شركاء
        </a>
        <a
          href="/user/review"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic7.png" alt="" />
          المراجعات
        </a>
        <a
          href="/user/edit"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic8.png" alt="" />
          إعدادات
        </a>
        <a
          href="/logout"
          class="nav-link text-dark fs-5 bg-light text-center p-2 rounded-circle"
        >
          <img src="/img/acc_ic10.png" alt="" />
          تسجيل خروج
        </a>
      </div>
    </div>
  </div>
</nav>
