<%- include('./partials/header', {title}) %>

    <body>
        <header>
            <%- include('./partials/navbar') %>

                <div class="container text-white d-flex justify-content-between">
                    <section>
                        <p class="mt-5">
                            <a href="/" class="nav-link text-light">الصفحة الرئيسية<i class="bx bx-left-arrow"></i></a>
                        </p>

                        <h1 class="mt-4">
                            أرباح العملة المشفرة
                        </h1>
                        <p>
                            خدمة إدارة الثقة المالية لتداول العملات المشفرة بمعدل عائد مضمون وثابت
                        </p>
                    </section>
                    <section>
                        <img src="/img/bannerimg.gif" width="450" height="400" alt="">
                    </section>
                </div>
        </header>



        <div class="abuot-us">
            <section class="coins-images">
                <div class="container">
                    <img src="/img/pay1.png" alt="">
                    <img src="/img/pay2.png" alt="">
                    <img src="/img/pay3.png" alt="">
                    <img src="/img/pay4.png" alt="">
                    <img src="/img/pay5.png" alt="">
                    <img src="/img/pay6.png" alt="">
                    <img src="/img/pay7.png" alt="">
                    <img src="/img/pay8.png" alt="">
                    <img src="/img/pay9.png" alt="">
                    <img src="/img/pay10.png" alt="">
                    <img src="/img/pay11.png" alt="">
                    <img src="/img/pay12.png" alt="">
                </div>
            </section>
            <section class="container pt-5 d-flex">
                <div class="info">
                    <span class="text-bro">معلومات عنا <i class="bx bx-left-arrow"></i></span>
                    <h2>اﻷموال عبر الإنترنت</h2>
                    <p>
                        تأسسست في عام 2022 في لندن، المملكة المتحدة، تقدم BitCash طريقة مستقبلية تماما ﻹدارة أصولك
                    </p>
                    <div class="per">
                        <img src="/img/abtper1.png" width="70" height="70" alt="">
                        <div>
                            <h2>مشاريع ناحجة</h2>
                            لدينا فريق من متداولي الإسواق المالية بالذكاء الاصطناعي منذ فترة طويلة والذين يساعدون في
                            ضمان أمان أرباح المستثمرين
                        </div>
                    </div>
                    <div class="per">
                        <img src="/img/abtper2.png" width="70" height="70" alt="">
                        <div>
                            <h2>التسجيل الرسمي</h2>
                            BitCash هي شركة قانونية مسجلة في المملكة المتحدة تقدم استثماراتها
                        </div>
                    </div>
                    <a href="/about" class="btn btn-bro p-3 fw-bold pe-5 ps-5 mt-3 me-3">
                        معلومات عنا
                    </a>
                </div>
                <div class="img">
                    <img src="/img/abtimg.png" alt="">
                </div>
            </section>
        </div>

        <div class="best-features">
            <div class="container">
                <span class="text-bro">الخدمات التي نقدمها <i class="bx bx-left-arrow"></i></span>
                <h2>أفضل الميزات</h2>
                <div class="d-flex flex-wrap text-center justify-content-center align-items-center">
                    <section>
                        <p>
                            <img src="/img/feaimg1.png" alt="">
                            <strong class="d-block">التجار المحترفين</strong>
                            <span>التجار لدينا يعملون كل يوم</span>
                        </p>
                        <p>
                            <img src="/img/feaimg2.png" alt="">
                            <strong class="d-block">أمان</strong>
                            <span>لدي BitCash أعلي معايير اﻷمان</span>
                        </p>
                        <p>
                            <img src="/img/feaimg3.png" alt="">
                            <strong class="d-block">سحب فوري</strong>
                            <span>لا يهم مقدار ما تطلقه</span>
                        </p>
                    </section>
                    <section class="img">
                        <img src="/img/amtanim.gif" width="75%" alt="">
                    </section>
                    <section>
                        <p>
                            <img src="/img/feaimg4.png" alt="">
                            <strong class="d-block">دعم 24/7</strong>
                            <span>يتوفر فريق الدعم لدينا علي مدار الساعة <br> طوال أيام اﻷسبوع لمساعدتك</span>
                        </p>
                        <p>
                            <img src="/img/feaimg5.png" alt="">
                            <strong class="d-block">استحقاق الربح لكل دقيقة</strong>
                            <span>تسمح لك الخوارزمية الفريدة <br> بحساب ربح الشريك</span>
                        </p>
                        <p>
                            <img src="/img/feaimg6.png" alt="">
                            <strong class="d-block">التحسين والمرونة</strong>
                            <span>مطورونا جاهزون دائما لتحسين الموقع</span>
                        </p>
                    </section>
                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>

        
    </body>


    </html>